<section class="todoapp">
  <header class="header">
    <h1>Login Up</h1>
    <%= form_tag(login_path) do %>
      <input type="text" name="email" class="new-todo" placeholder="Login">
    <% end %>
  </header>
</section>
