<section class="todoapp">
  <header class="header">
    <h1>Log In</h1>
    <%= form_tag(login_path) do %>
      <input type="text" name="email" class="new-todo" placeholder="Login">
      <input type="text" name="password" class="new-todo" placeholder="password">
      <input type="submit" value="Log In">
    <% end %>
  </header>
</section>

<footer class="info">
    <%= link_to 'Log in with Facebook!', '/auth/facebook' %><br>
    <%= link_to 'Sign Up', '/users/new' %>
</footer>
