<section class="todoapp">

  <header class="header">
		<h1>Listings</h1>

    <%= form_for(@listing) do |f| %>
      <%= f.text_field :title, :class => 'new-todo' %>
      <%= f.submit %>
    <% end %>
	</header>

  <section class="main">
  <ul class="todo-list">
  <% @listings.each do |list| %>
    <li>
      <div class="view">
        <label><a href="#"><%= link_to list.title, listing_path(list) %></a></label>
      </div>
    </li>
  <% end %>
  </ul>
</section>

	<footer class="footer" style="display: block;">
	</footer>
</section>
