<section class="todoapp">

  <header class="header">
		<h1><%= @listing.title %></h1>
		<input class="new-todo" placeholder="Add a new item" autofocus="">
	</header>

  <section class="main">
  <ul class="todo-list">

    <li>
      <div class="view">
        <label>Address: </label>
      </div>
    </li>

  </ul>
</section>

	<footer class="footer" style="display: block;">
	</footer>
</section>
