<section class="new-todo">
  Guest: <%= @reservation.user_id %>
  Staying At: <%= @reservation.listing.title %>
  On This Date: <%= @reservation.start_date %>
</section>

<%= render 'partials/footer' %>
