<section class="todoapp">

  <header class="header">
		<h1>Listings</h1>
		<input class="new-todo" placeholder="Make a New Listing/Filter Listings(decide later)" autofocus="">
	</header>

	<section class="main">
		<ul class="todo-list">

      <li>
        <div class="view">
        <label><a href="#">Shopping List</a></label>
        </div>
      </li>

      <li>
        <div class="view">
        <label><a href="#">Gift List</a></label>
        </div>
      </li>

      <li>
        <div class="view">
        <label><a href="#">Reading List</a></label>
        </div>
      </li>
    </ul>
	</section>

	<footer class="footer" style="display: block;">
		<span class="todo-count"><strong>1</strong> item left</span>
		<ul class="filters">
			<li>
				<a href="#/" class="selected">All</a>
			</li>
			<li>
				<a href="#/active">Active</a>
			</li>
			<li>
				<a href="#/completed">Completed</a>
			</li>
		</ul>
		<button class="clear-completed" style="display: none;"></button>
	</footer>

</section>
